<div class="centered">
    <h1>Find your favorite entertainment.</h1>
    <p>Love it. Store it. Share it. All in one place. </p>
    <p>

        {{#if isLogged}}
        Hello, {{ isLogged.userName }}!

        <br>
    <form id="logout-form" action="/auth/logout" method="POST">
        <button class="btn btn-outline-secondary">Logout</button>
    </form>
    {{else}}
    <a href="/auth/login" class="btn btn-outline-warning" role="button">Login</a> </br>
    <a href="/auth/signup">Sign up</a>

    {{/if}}

    </p>
</div>

<div class="container">
    <h2>Choose a book for your favorites</h2>
    <div class="media">
        {{#each booksFromNet}}
        <div class="topic">
            <h4>{{volumeInfo.title}}</h4>
            <div>
                <img src={{volumeInfo.imageLinks.thumbnail}} />
                <p>{{volumeInfo.publishedDate}}</br>
                    Pages count: {{volumeInfo.pageCount}}</br>
                    Language: {{volumeInfo.language}}
                    <a href="{{volumeInfo.infoLink}}">More details</a>
                <div class="form">
                    <form action="/favorites/createNewFavorite" method="post">

                        <input type="text" name="title" value="{{volumeInfo.title}}" />

                        <input type="text" name="imageLinks" value="{{volumeInfo.imageLinks.thumbnail}}" />

                        <input type="text" name="publishedDate" value="{{volumeInfo.publishedDate}}" />

                        <input type="text" name="pageCount" value="{{volumeInfo.pageCount}}" />

                        <input type="text" name="language" value="{{volumeInfo.language}}" />

                        <input type="text" name="previewLink" value="{{volumeInfo.infoLink}}" />

                        <button> Add to favorites</button>

                    </form>
                </div>
                </p>
            </div>
        </div>
        {{/each}}
    </div>
    <h2>Choose a music for your favorites</h2>
    <div class="media">
        {{#each arrOfItems}}
        <div class="topic">
            <h4>{{name}}</h4>
            <div>
                {{#if images.0.url}}
                <img src={{images.0.url}} />
                {{else}}
                <img src="/images/avatar.png" />
                {{/if}}
                <p>{{release_date}}</br>
                    {{type}}: {{album_type}}</br>
                    {{artists.0.name}}</br>
                    <a href={{external_urls.spotify}}>Link</a>
                <div class="form">
                    <form action="/favorites/createNewFavorites" method="post">

                        <input type="text" name="title" value="{{name}}" />

                        <input type="text" name="imageLinks" value="{{images.0.url}}" />

                        <input type="text" name="publishedDate" value="{{release_date}}" />

                        <input type="text" name="type" value="{{album_type}}" />

                        <input type="text" name="author" value="{{artists.0.name}}" />

                        <input type="text" name="previewLink" value="{{external_urls.spotify}}" />
                        <button> Add to favorites</button>
                    </form>
                </div>
                </p>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>