 <link rel="stylesheet" href="/stylesheets/style.css" />
<div class="centered">
    <h1>Find your favorite entertainment.</h1>
    <p>Love it. Store it. Share it. All in one place. </p>
    <p>

        {{#if isLogged}}
        Hello, {{ isLogged.userName }}!

        <br>
    <form id="logout-form" action="/auth/logout" method="POST">
        <button class="button">Logout</button>
    </form>
    {{else}}
     <div class="login">
<a href="/auth/login">Login</a> 
</div></br>
    <a href="/auth/signup">Sign up</a>

    {{/if}}

    </p>

    <div  class="arrow bounce"> <a href="#chooseBook"><img src="https://static1.squarespace.com/static/5e78f290575a6321739eba41/t/5ec8625c6dad0e25fa5a8234/1590190684880/Arrow.png"> </a></div>
</div>

<div class="container">
    <h2 id="chooseBook">Choose a book for your favorites</h2>
    <div class="media">
        {{#each booksFromNet}}
        <div class="topic">
            <div class="titleFav">
            <h4 >{{volumeInfo.title}}</h4>
            </div>
            {{#if volumeInfo.imageLinks.thumbnail}}
                <img  src={{volumeInfo.imageLinks.thumbnail}}  />
                {{else}}
                <img src="https://cdn-icons-png.flaticon.com/512/1903/1903162.png" />
                {{/if}}

                
                <p>{{volumeInfo.publishedDate}}</br>
                    Pages count: {{volumeInfo.pageCount}}</br>
                    Language: {{volumeInfo.language}}</br>
                    <a href="{{volumeInfo.infoLink}}" target="_blank">More details</a>
                <div class="form">
                    <form action="/favorites/createNewFavorite" method="post">
                            <button class="addFavorites"> Add to favorites</button>

                        <input type="text" name="origId" value="{{id}}" />

                        <input type="text" name="title" value="{{volumeInfo.title}}" />

                        <input type="text" name="imageLinks" value="{{volumeInfo.imageLinks.thumbnail}}" />

                        <input type="text" name="publishedDate" value="{{volumeInfo.publishedDate}}" />
                        
                        <input type="text" name="type" value="{{volumeInfo.printType}}" />

                        <input type="text" name="pageCount" value="{{volumeInfo.pageCount}}" />

                        <input type="text" name="language" value="{{volumeInfo.language}}" />

                        <input type="text" name="previewLink" value="{{volumeInfo.infoLink}}" />

                        

                    </form>
                </div>
                </p>
            
        </div>
        {{/each}}
    </div>
    <h2 id="chooseBook">Choose an album for your favorites</h2>
    <div class="media">
        {{#each arrOfItems}}
        <div class="topic">
            <div class="titleFav">
            <h4>{{name}}</h4>
            </div>
            <div>
                {{#if images.0.url}}
                <img src={{images.0.url}} />
                {{else}}
                <img src="/images/avatar.png" />
                {{/if}}
                <p>{{release_date}}</br>
                    {{type}}: {{album_type}}</br>
                    {{artists.0.name}}</br>
                    <a href={{external_urls.spotify}} target="_blank">Link</a>
                <div class="form">
                    <form action="/favorites/createNewFavorites" method="post">
                        <button class="addFavorites"> Add to favorites</button>

                        <input type="text" name="origId" value="{{id}}" />         

                        <input type="text" name="title" value="{{name}}" />

                        <input type="text" name="imageLinks" value="{{images.0.url}}" />

                        <input type="text" name="publishedDate" value="{{release_date}}" />

                        <input type="text" name="type" value="{{album_type}}" />

                        <input type="text" name="author" value="{{artists.0.name}}" />

                        <input type="text" name="previewLink" value="{{external_urls.spotify}}" />
                        
                    </form>
                </div>
                </p>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>