<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{appTitle}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <header>
    <p>
      <a href="/">Home</a> |
      <a href="/favorites">My Favorites</a> |
      <a href="/favorites/create">Save new Favorite</a> |
      <form action="/books" method="POST" id="books">
        <label for="books">Choose a media:</label>
        <select name="media" id="media" form="books">
          <option value="movies">Movies</option>
          <option value="music">Music</option>
          <option value="books">Books</option>
          <option value="podcasts">Podcasts</option>
          <input type="submit"></input>
        </select>
      </form>
    
    </p>

    <p>

      {{#if isLogged}}
      Hello, {{ isLogged.userName }} !|
      <a href="/auth/user-profile">Profile Page</a>
      <br>
    <form id="logout-form" action="/auth/logout" method="POST">
      <button>Logout</button>
    </form>
    {{else}}
    <a href="/auth/signup">Register</a> |
    <a href="/auth/login">Login</a> |
    {{/if}}

    </p>
  </header>
  {{{body}}}
  <footer>
    <p>{{appTitle}}</p>
  </footer>
  <script src="/js/script.js"></script>
</body>

</html>