<h1>List of favorites:</h1>

{{#each favorites}}
    <section class="favorites-list">
        <h2>{{this.title}}</h2>
        <p>
            Format: {{this.format}} <br />
            Description: {{this.description}}<br />
            
            <a href="{{this.link}}">Link </a> |
            <a href="/favorites/{{_id}}/edit">Edit</a>
        </p>

 <form action="/favorites/{{_id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </section>
{{/each}}