<h1>List of favorites:</h1>

{{#each favorites}}
    <section class="favorites-list">
        <h2>{{this.title}}</h2>
        <img src={{this.imageLinks}} />
        <p>Published Date: {{this.publishedDate}}<br />
        {{#if this.language}}
           Page count: {{this.pageCount}}<br />
           Language: {{this.language}}<br />
           {{else }}
           Type: {{this.type}}<br />
           Artist: {{this.author}}<br />
          <a href="{{this.previewLink}}">Preview</a> <br />
           {{/if}}
            <a href="/favorites/{{_id}}/edit">Edit</a>
        </p>

 <form action="/favorites/{{_id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </section>
{{/each}}