<div class="centered">
    <h2>List of favorites:</h2>
    <div class="media">
        {{#each favorites}}
        <div class="topic">
            <section class="favorites-list">
                <h4>{{this.title}}</h4>
                <img src={{this.imageLinks}} />
                <p>Published Date: {{this.publishedDate}}<br />
                    {{#if this.language}}
                    Page count: {{this.pageCount}}<br />
                    Language: {{this.language}}<br />
                    <a href="{{this.previewLink}}">Preview</a> <br />
                    {{else }}
                    Type: {{this.type}}<br />
                    Artist: {{this.author}}<br />
                    <a href="{{this.previewLink}}">Preview</a> <br />
                    {{/if}}
                    <a href="/favorites/{{_id}}/edit">Edit</a>
                </p>

                <form action="/favorites/{{_id}}/delete" method="POST">
                    <button>Delete</button>
                </form>
            </section>
        </div>
        {{/each}}
    </div>
</div>