<div class="centered">
  
  <h2 class="editTitle">Edit: {{title}}</h2>

<div class="favoritesBody">
  <form action="/favorites/{{_id}}/edit" method="post">
    <label> Title:
      <input type="text" name="title" value="{{title}}" required />
    </label>

    <label> Description:
      <textarea name="description" cols="10" rows="4">{{description}} </textarea>
    </label>

    <label> Image:
      <input name="imageLinks" value="{{imageLinks}}" placeholder="paste a link" />
    </label>

    <label> Published Date:
      <input type="text" name="publishedDate" value="{{publishedDate}}" />
    </label>

    <label> Page Count:
      <input type="number" name="pageCount" value="{{pageCount}}" />
    </label>

    <label> Language:
      <input type="text" name="language" value="{{language}}" />
    </label>

    <label> Format:
      <select name="type">
        <option value="{{type}}">{{type}}</option>
        <option value="album">album</option>
        <option value="book">book</option>
        <option value="movie">movie</option>
        <option value="podcast">podcast</option>
      </select>
    </label>

    <label> Author:
      <input type="text" name="author" value="{{author}}" />
    </label>

    <label> Link:
      <input type="text" name="previewLink" placeholder="https://example.com" value="{{previewLink}}"/>
    </label>

    <button type="submit"> Save </button>
  
  </form>
  </div>
</div>