<h1>List of favorites:</h1>

{{#each favorites}}
    <section class="favorites-list">
        <h2>{{this.title}}</h2>
        <img src={{this.imageLinks}} />
        <p>Published Date: {{this.publishedDate}}<br />
           Page count: {{this.pageCount}}<br />
           Language: {{this.language}}<br />
            <a href="/favorites/{{_id}}/edit">Edit</a>
        </p>

 <form action="/favorites/{{_id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </section>
{{/each}}